<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truthower.suhang.mangareader">

    <!-- 允许应用访问网络上的信息 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- SD卡读取权限，用户写入离线定位数据-->

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/spider_icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".business.lunch.LunchActivity"
            android:launchMode="standard"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.detail.WebMangaDetailsActivity"></activity>
        <activity android:name=".business.detail.LocalMangaDetailsActivity"></activity>
        <activity android:name=".business.onlinedetail.OnlineDetailsActivity"></activity>
        <activity
            android:name=".business.main.MainActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".business.read.ReadMangaActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".business.download.DownloadActivity"></activity>
        <activity android:name=".business.rxdownload.RxDownloadActivity"></activity>
        <activity
            android:name=".business.threadpooldownload.TpDownloadActivity"
            android:launchMode="singleTop"></activity>
        <activity android:name=".business.threadpooldownload.ManageDownloadActivity"></activity>
        <activity
            android:name=".business.user.LoginActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".business.user.RegisterActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".business.collect.CollectedActivity"></activity>
        <activity android:name=".business.tag.TagManagerActivity"></activity>
        <activity android:name=".business.tag.TagFilterActivity"></activity>
        <activity android:name=".business.other.AboutActivity"></activity>
        <activity android:name=".business.other.KeyboardSettingActivity"></activity>
        <activity
            android:name=".business.search.SearchActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".business.ad.AdvertisingActivity"></activity>
        <activity android:name=".business.wordsbook.WordsBookActivity"></activity>
        <activity android:name=".business.words.WordsActivity"></activity>
        <activity android:name=".business.statistics.StatisticsActivity"></activity>
        <activity android:name=".business.user.UserCenterActivity"></activity>
        <activity android:name=".business.gesture.SetGestureActivity"></activity>
        <activity android:name="com.truthower.suhang.mangareader.test.TestActivity"></activity>
        <activity
            android:name=".business.comment.CommentActivity"
            android:windowSoftInputMode="adjustResize"></activity>

        <service android:name=".business.download.DownloadIntentService"></service>
        <service android:name=".service.CopyBoardService"></service>
        <service android:name=".business.rxdownload.DownloadService"></service>
        <service android:name="com.truthower.suhang.mangareader.business.threadpooldownload.TpDownloadService"></service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ad99547f43e48081d0000cd" />
        <!-- Channel ID用来标识App的推广渠道，作为推送消息时给用户分组的一个维度。-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="manga" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="7f36f57339fc5c5549fd9ac474f2ff50"></meta-data>
    </application>
</manifest>